/**
 * @file
 * Site custom styles
 */
body {
    font-family: 'Lucida Grande', Lucida Sans Unicode, Hiragino Sans GB, WenQuanYi Micro Hei, Verdana, Aril, sans-serif;
}

table {
    border: 1px solid #ddd;
}

tr {
    border: 1px solid #ddd;
}
